/* line 18, ../sass/mobile/iframe.scss */
.clearfix:after, form:not([name="hotelsel"]):not([name="address"]) > div.clear + div > div.details:after {
  content: "";
  display: table;
  clear: both;
}

/* line 24, ../sass/mobile/iframe.scss */
.center-block, #pnlBestRate, #pnlDispo {
  margin: 0 auto;
}

/* line 27, ../sass/mobile/iframe.scss */
.center-text, .hotella-table table .button-col-left, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-label:nth-of-type(n + 24) table .button-col-left, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-value:nth-of-type(n + 24) table .button-col-left, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails table .button-col-left, #pnlBestRate table .button-col-left, #pnlDispo table .button-col-left, .hotella-subtitle .subtitle, form[name="review"]:not([name="hotelsel"]):not([name="address"]) .subtitle, form[name="address"] .subtitle, .footerlinks, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlCardDetails, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlAdditionalInformation, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlAdditionalInformation + br + p, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails > div:nth-of-type(17), form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails > div:nth-of-type(19), form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails > div:nth-of-type(18), form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails > div:nth-of-type(20), form[name="address"] > div.clear + div > div.details > div + div + div + div, form[name="address"] > div.clear + div > div.details .sect-hdr {
  text-align: center;
}

/* line 31, ../sass/mobile/iframe.scss */
.hotella-table table, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-label:nth-of-type(n + 24) table, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-value:nth-of-type(n + 24) table, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails table, #pnlBestRate table, #pnlDispo table {
  background: transparent;
  border-radius: 0;
  font-size: inherit;
}
/* line 32, ../sass/mobile/iframe.scss */
.hotella-table table .room-type, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-label:nth-of-type(n + 24) table .room-type, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-value:nth-of-type(n + 24) table .room-type, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails table .room-type, #pnlBestRate table .room-type, #pnlDispo table .room-type {
  color: #a17658;
}
/* line 36, ../sass/mobile/iframe.scss */
.hotella-table table#LstDispo .rates-row .room-type, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-label:nth-of-type(n + 24) table#LstDispo .rates-row .room-type, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-value:nth-of-type(n + 24) table#LstDispo .rates-row .room-type, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails table#LstDispo .rates-row .room-type, #pnlBestRate table#LstDispo .rates-row .room-type, #pnlDispo table#LstDispo .rates-row .room-type {
  background-color: rgba(199, 201, 189, 0.1);
}
/* line 39, ../sass/mobile/iframe.scss */
.hotella-table table#LstDispo .room-notes, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-label:nth-of-type(n + 24) table#LstDispo .room-notes, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-value:nth-of-type(n + 24) table#LstDispo .room-notes, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails table#LstDispo .room-notes, #pnlBestRate table#LstDispo .room-notes, #pnlDispo table#LstDispo .room-notes {
  background-color: rgba(255, 255, 255, 0.29);
}
/* line 42, ../sass/mobile/iframe.scss */
.hotella-table table#LstDispo .rates-plan, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-label:nth-of-type(n + 24) table#LstDispo .rates-plan, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-value:nth-of-type(n + 24) table#LstDispo .rates-plan, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails table#LstDispo .rates-plan, #pnlBestRate table#LstDispo .rates-plan, #pnlDispo table#LstDispo .rates-plan {
  font-weight: normal;
  text-transform: uppercase;
  background-color: rgba(199, 201, 189, 0.1);
  color: #a17658;
}
/* line 49, ../sass/mobile/iframe.scss */
.hotella-table table.RateBreakdownGrid, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-label:nth-of-type(n + 24) table.RateBreakdownGrid, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-value:nth-of-type(n + 24) table.RateBreakdownGrid, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails table.RateBreakdownGrid, #pnlBestRate table.RateBreakdownGrid, #pnlDispo table.RateBreakdownGrid {
  table-layout: fixed;
  width: 100% !important;
  border: 1px solid #d1c4bb;
  border-width: 1px 0;
}
/* line 55, ../sass/mobile/iframe.scss */
.hotella-table table.RateBreakdownGrid tr th, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-label:nth-of-type(n + 24) table.RateBreakdownGrid tr th, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-value:nth-of-type(n + 24) table.RateBreakdownGrid tr th, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails table.RateBreakdownGrid tr th, #pnlBestRate table.RateBreakdownGrid tr th, #pnlDispo table.RateBreakdownGrid tr th, .hotella-table table.RateBreakdownGrid tr td, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-label:nth-of-type(n + 24) table.RateBreakdownGrid tr td, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-value:nth-of-type(n + 24) table.RateBreakdownGrid tr td, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails table.RateBreakdownGrid tr td, #pnlBestRate table.RateBreakdownGrid tr td, #pnlDispo table.RateBreakdownGrid tr td {
  padding: 1em;
  background-color: rgba(41, 11, 9, 0.1);
  border: solid #d1c4bb;
  border-width: 0 1px 0 1px;
  text-align: center;
  font-size: 1.125em;
  font-weight: normal;
  text-transform: uppercase;
}
/* line 65, ../sass/mobile/iframe.scss */
.hotella-table table.RateBreakdownGrid tr td, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-label:nth-of-type(n + 24) table.RateBreakdownGrid tr td, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-value:nth-of-type(n + 24) table.RateBreakdownGrid tr td, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails table.RateBreakdownGrid tr td, #pnlBestRate table.RateBreakdownGrid tr td, #pnlDispo table.RateBreakdownGrid tr td {
  background-color: rgba(255, 255, 255, 0.29);
  font-size: 16px;
}
/* line 74, ../sass/mobile/iframe.scss */
.hotella-table table .room-type, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-label:nth-of-type(n + 24) table .room-type, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-value:nth-of-type(n + 24) table .room-type, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails table .room-type, #pnlBestRate table .room-type, #pnlDispo table .room-type {
  font-weight: normal;
  font-size: 1.55em;
}
/* line 78, ../sass/mobile/iframe.scss */
.hotella-table table .rates-btn, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-label:nth-of-type(n + 24) table .rates-btn, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-value:nth-of-type(n + 24) table .rates-btn, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails table .rates-btn, #pnlBestRate table .rates-btn, #pnlDispo table .rates-btn {
  width: auto;
}
/* line 81, ../sass/mobile/iframe.scss */
.hotella-table table .rates-period, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-label:nth-of-type(n + 24) table .rates-period, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-value:nth-of-type(n + 24) table .rates-period, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails table .rates-period, #pnlBestRate table .rates-period, #pnlDispo table .rates-period, .hotella-table table .rates-rate, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-label:nth-of-type(n + 24) table .rates-rate, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-value:nth-of-type(n + 24) table .rates-rate, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails table .rates-rate, #pnlBestRate table .rates-rate, #pnlDispo table .rates-rate {
  color: #171c21;
}
/* line 84, ../sass/mobile/iframe.scss */
.hotella-table table .button-col-left, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-label:nth-of-type(n + 24) table .button-col-left, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-value:nth-of-type(n + 24) table .button-col-left, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails table .button-col-left, #pnlBestRate table .button-col-left, #pnlDispo table .button-col-left {
  float: none;
  width: auto;
}
/* line 90, ../sass/mobile/iframe.scss */
.hotella-table table tr td, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-label:nth-of-type(n + 24) table tr td, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-value:nth-of-type(n + 24) table tr td, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails table tr td, #pnlBestRate table tr td, #pnlDispo table tr td {
  border-top: 0;
}
/* line 93, ../sass/mobile/iframe.scss */
.hotella-table table tr td.room-row.odd, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-label:nth-of-type(n + 24) table tr td.room-row.odd, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-value:nth-of-type(n + 24) table tr td.room-row.odd, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails table tr td.room-row.odd, #pnlBestRate table tr td.room-row.odd, #pnlDispo table tr td.room-row.odd {
  background-color: rgba(41, 11, 9, 0.1);
}
/* line 96, ../sass/mobile/iframe.scss */
.hotella-table table tr td.room-row.even, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-label:nth-of-type(n + 24) table tr td.room-row.even, form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-value:nth-of-type(n + 24) table tr td.room-row.even, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails table tr td.room-row.even, #pnlBestRate table tr td.room-row.even, #pnlDispo table tr td.room-row.even {
  background-color: transparent;
}

/* line 106, ../sass/mobile/iframe.scss */
.hotella-subtitle .subtitle, form[name="review"]:not([name="hotelsel"]):not([name="address"]) .subtitle, form[name="address"] .subtitle {
  background-color: rgba(255, 255, 255, 0.29);
  border: 1px solid #d1c4bb;
  padding: 12px;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: normal;
  color: #a17658;
}

/* line 119, ../sass/mobile/iframe.scss */
body {
  background: #171c21 !important;
  color: #171c21 !important;
}

/* line 123, ../sass/mobile/iframe.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

/* line 126, ../sass/mobile/iframe.scss */
h3 {
  padding: 10px !important;
  color: #171c21 !important;
  border-bottom: none;
  margin: 0 !important;
  background: rgba(199, 201, 189, 0.1);
  text-align: center;
  font-size: 1.5em !important;
}

/* line 135, ../sass/mobile/iframe.scss */
body a {
  color: #b57c4e;
}

/* line 138, ../sass/mobile/iframe.scss */
body form select {
  max-width: none !important;
}

/* -- BUTTONS -- */
/* line 148, ../sass/mobile/iframe.scss */
.button-col-left {
  display: inline-block !important;
  width: auto !important;
}

/* line 153, ../sass/mobile/iframe.scss */
.button-col-right {
  float: right !important;
  display: inline-block !important;
  width: auto !important;
}

/* line 162, ../sass/mobile/iframe.scss */
form:not([name="hotelsel"]):not([name="address"]) h3 {
  display: none;
}
/* line 163, ../sass/mobile/iframe.scss */
form:not([name="hotelsel"]):not([name="address"]) > div.clear + div > div.details {
  box-sizing: border-box;
  width: 95%;
  margin: 0 auto;
  color: #323b42;
  border: 1px solid;
  font-size: 14px;
  position: relative;
}
/* line 172, ../sass/mobile/iframe.scss */
form:not([name="hotelsel"]):not([name="address"]) > div.clear + div > div.details > div:first-child, form:not([name="hotelsel"]):not([name="address"]) > div.clear + div > div.details > div:first-child + div {
  display: none;
}
/* line 177, ../sass/mobile/iframe.scss */
form:not([name="hotelsel"]):not([name="address"]) .details h3 {
  display: none;
}
/* line 178, ../sass/mobile/iframe.scss */
form:not([name="hotelsel"]):not([name="address"]) .details .details-label, form:not([name="hotelsel"]):not([name="address"]) .details .field-label {
  padding-top: 10px;
  width: 47%;
  float: left;
  clear: right;
}
/* line 184, ../sass/mobile/iframe.scss */
form:not([name="hotelsel"]):not([name="address"]) .details .details-value {
  float: right;
  padding-top: 10px;
}
/* line 190, ../sass/mobile/iframe.scss */
form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-value:nth-of-type(24) {
  clear: both;
}
/* line 193, ../sass/mobile/iframe.scss */
form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-value:nth-of-type(22) {
  padding: 40px;
  margin-top: 10px;
  font-weight: normal;
  background: rgba(255, 255, 255, 0.29);
}
/* line 199, ../sass/mobile/iframe.scss */
form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-label:nth-of-type(n + 24), form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] .details-value:nth-of-type(n + 24) {
  float: none !important;
}
/* line 203, ../sass/mobile/iframe.scss */
form:not([name="hotelsel"]):not([name="address"])[name="rpldetails"] #lblTotalText {
  position: absolute;
  right: 10px;
}
/* line 208, ../sass/mobile/iframe.scss */
form:not([name="hotelsel"]):not([name="address"])[name="review"] {
  padding: 0 10px;
}
/* line 214, ../sass/mobile/iframe.scss */
form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails {
  position: relative;
}
/* line 216, ../sass/mobile/iframe.scss */
form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails #lblTaxInfos {
  position: absolute;
  left: 0;
  width: 100%;
}
/* line 220, ../sass/mobile/iframe.scss */
form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails #lblTaxInfos .details-value {
  width: auto;
  position: absolute;
  right: 0;
}
/* line 226, ../sass/mobile/iframe.scss */
form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails .details-label, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails .field-label {
  padding-top: 10px;
  width: 47%;
  clear: right;
}
/* line 231, ../sass/mobile/iframe.scss */
form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails .details-value {
  float: right;
  margin-top: -20px;
}
/* line 235, ../sass/mobile/iframe.scss */
form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails > div:nth-of-type(17), form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails > div:nth-of-type(19) {
  width: 100%;
}
/* line 239, ../sass/mobile/iframe.scss */
form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails > div:nth-of-type(18), form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails > div:nth-of-type(20) {
  margin-top: 10px;
  width: 100%;
}
/* line 244, ../sass/mobile/iframe.scss */
form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails > div:nth-of-type(22) {
  float: none;
  margin-top: 10px;
}
/* line 249, ../sass/mobile/iframe.scss */
form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails div.details-value {
  padding-top: 0;
}
/* line 252, ../sass/mobile/iframe.scss */
form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails .sect-title, form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails .sect-hdr {
  clear: both;
}
/* line 255, ../sass/mobile/iframe.scss */
form:not([name="hotelsel"]):not([name="address"])[name="review"] #pnlResDetails #lblTotalText {
  position: absolute;
  right: 0;
  margin-top: 10px;
}

/* line 265, ../sass/mobile/iframe.scss */
form[name="address"] #lblPropertyNameText {
  display: none;
}
/* line 268, ../sass/mobile/iframe.scss */
form[name="address"] .val-input {
  background: transparent;
  border: 1px solid;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
}
/* line 276, ../sass/mobile/iframe.scss */
form[name="address"] .w99 {
  width: 49%;
  margin-right: 1%;
  display: block;
  float: left;
}
/* line 283, ../sass/mobile/iframe.scss */
form[name="address"] .formbox.opened .header {
  display: none;
}
/* line 287, ../sass/mobile/iframe.scss */
form[name="address"] textarea {
  background: transparent;
}
/* line 292, ../sass/mobile/iframe.scss */
form[name="address"] > div.clear + div > div.details select {
  font-size: 26px;
  background: #171c21;
  color: #fff;
}
/* line 297, ../sass/mobile/iframe.scss */
form[name="address"] > div.clear + div > div.details input[type="text"] {
  max-width: none;
  font-size: 1em;
  width: 100%;
  color: #171c21;
  box-sizing: border-box;
}
/* line 304, ../sass/mobile/iframe.scss */
form[name="address"] > div.clear + div > div.details > div:first-child, form[name="address"] > div.clear + div > div.details > div:first-child + div {
  display: none;
}

/* line 309, ../sass/mobile/iframe.scss */
span#lblTotalText {
  color: #a17658;
}

/* line 312, ../sass/mobile/iframe.scss */
#pnlBestRate, #pnlDispo {
  width: 95%;
  border: 1px solid #d1c4bb;
}

/* line 318, ../sass/mobile/iframe.scss */
button, input[type=button], input[type=submit], #wmap_filter_container #wmap_reset, input[type=reset] {
  background: #171c21 !important;
  color: #dde6f0 !important;
  border: 1px solid #698096 !important;
  padding: 2em !important;
  border-radius: 0 !important;
  line-height: 0;
}

/* line 326, ../sass/mobile/iframe.scss */
input[type=text], input[type=password] {
  padding: 11px 7px !important;
  border: 1px solid #698096;
  background: transparent;
  color: #fff;
}

/* line 332, ../sass/mobile/iframe.scss */
div#contentContainer {
  background: url(http://backgrounds.spacecrafted.com/09_grey_linen.png);
  display: inline-block;
  width: 100%;
  padding: 0 !important;
}
/* line 337, ../sass/mobile/iframe.scss */
div#contentContainer > img {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  position: relative;
  content: ' some thing ';
}
/* line 344, ../sass/mobile/iframe.scss */
div#contentContainer > img:before {
  content: ' ';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 113px;
  display: block;
  background-image: url(http://f2e15a15be09f4e0458f-b05a0b4c64717bd92173f8f1c2ed55e9.r37.cf2.rackcdn.com/7455f235f96342b98f9d19a6340dc889.png);
  background-color: #171c21;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border: solid #171c21;
  border-width: 10px 0 10px 0;
  z-index: 300;
}
/* line 362, ../sass/mobile/iframe.scss */
div#contentContainer ol.progtrckr {
  margin: 133px 10px 50px;
}
/* line 365, ../sass/mobile/iframe.scss */
div#contentContainer ol.progtrckr li.progtrckr-done {
  color: #171c21;
  border-bottom: 4px solid #698096;
}
/* line 371, ../sass/mobile/iframe.scss */
div#contentContainer form[name="hotelsel"] {
  padding: 0;
  margin-bottom: 20px;
}
/* line 374, ../sass/mobile/iframe.scss */
div#contentContainer form[name="hotelsel"] h3 {
  display: none;
  padding: 10px;
  color: #171c21;
  border-bottom: none;
  margin: 0;
  background: rgba(199, 201, 189, 0.1);
  text-align: center;
  font-size: 1.5em;
}
/* line 385, ../sass/mobile/iframe.scss */
div#contentContainer #reservationPanel {
  padding: 40px 0;
  border: 1px solid #171c21;
  border-top: none;
  background: #171c21;
}
/* line 390, ../sass/mobile/iframe.scss */
div#contentContainer #reservationPanel select {
  background: transparent;
  color: #fff;
  border: 1px solid #698096;
  border-radius: 0 !important;
  height: 40px;
}
/* line 397, ../sass/mobile/iframe.scss */
div#contentContainer #reservationPanel #amendCancelLinks {
  margin: 0 0 20px;
  text-align: center;
  width: auto;
}
/* line 402, ../sass/mobile/iframe.scss */
div#contentContainer #reservationPanel .dates label {
  text-transform: uppercase;
  color: #fff;
  padding-left: 10px;
}
/* line 407, ../sass/mobile/iframe.scss */
div#contentContainer #reservationPanel .reserve input {
  display: block;
  margin: 0 auto;
  float: none;
}
/* line 412, ../sass/mobile/iframe.scss */
div#contentContainer #reservationPanel ol {
  width: 300px;
  margin: 0 auto;
}
/* line 418, ../sass/mobile/iframe.scss */
div#contentContainer #reservationPanel .apart-info {
  height: auto;
}
/* line 420, ../sass/mobile/iframe.scss */
div#contentContainer #reservationPanel .apart-info ol {
  text-align: center;
}
/* line 422, ../sass/mobile/iframe.scss */
div#contentContainer #reservationPanel .apart-info ol li {
  display: inline-block;
  vertical-align: top;
  position: static;
  width: 100%;
}
/* line 427, ../sass/mobile/iframe.scss */
div#contentContainer #reservationPanel .apart-info ol li select {
  width: 94% !important;
}
/* line 430, ../sass/mobile/iframe.scss */
div#contentContainer #reservationPanel .apart-info ol li label {
  color: #fff;
  text-transform: uppercase;
}

/* line 439, ../sass/mobile/iframe.scss */
#footer #footerMenu {
  margin: 0 !important;
}
